/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

section {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
}

section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#terminarz {
  background-color: #f2f2f2;
}

#klasy {
  background-color: #e6f7ff;
}

#zadania {
  background-color: #ffe6e6;
}

#szkola-podstawowa,
#szkola-srednia {
  margin-bottom: 20px;
}

#szkola-podstawowa h3,
#szkola-srednia h3 {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

#szkola-podstawowa ul,
#szkola-srednia ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#szkola-podstawowa ul li,
#szkola-srednia ul li {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

#szkola-podstawowa ul li:hover,
#szkola-srednia ul li:hover {
  background-color: #e0e0e0;
}

/* Stylizacja formularza logowania i rejestracji */

.container {
  width: 30%;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 0px 10px #4CAF50;
}

.container h2 {
  color: #4CAF50;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: calc(100% - 20px); /* zmieniono szerokość */
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
